#count{
  display: block;

  font-size: 5cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-align: center;

}

#container{

display: block;
text-align: center;

}
.btn{
padding: 10px 20px;
color: white;
border-radius: 5px;
background-color: rgb(74, 105, 95);
cursor: pointer;


}

.btn:hover{cursor: pointer;


  background-color: rgba(134, 173, 160, 0.856);
}
